
.feed-form {
  width: 80%;
  margin: 0 auto;
}
.feed-form__input {
  width: 50%;
  display: table-cell;
}
div .span-label {
  width: 8rem;
  float: left;
  color: $pure-grey;
}
.img-frame {
  display: table-cell;
}
.img-preview {
  text-align: center;
  height: 100px;
  width: 250px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 5px solid grey;
  border-bottom: 5px solid grey;
  background-color: white;
  position: absolute;
}
img {
  width: 100%;
  height: 100%;
}
.input-error {
  padding-left: $xs-size;
  color: $pure-red;
}
input:hover, textarea:hover {
  background-color: $light-yellow;
}
.feed-form__input-filter {
  margin: 1rem auto;
  display: table;
  width: 80%;
  padding: .5rem;
}
.feed-form__input__add {
  margin: 0.5rem auto;
}
.feed-form__input__add > input, .feed-form__input__add > textarea {
  min-width: 20rem; 
}
.feed-form__input__add > textarea {
  min-height: 5rem;
}
.input-filter {
  width: 8rem;
  float: left;
}

// @media(max-width: 50rem) {
//   input[name=title] {
//     // flex-direction: row;
//     background-color: $pure-black;
//   }
// }