.container {
  max-width: $xl-size;
  margin: 0 auto;
  padding: 0 $sm-size;
}
.table {
  width: 80%;
  display: table;
  margin: 0 auto;
}
.group {
  display: table-header-group;
  background-color: $light-blue;
  font-weight: bold;
  font-size: $xs-size;
  padding: 1rem 0rem;
}
.row {
  display:table-row;
}
.table-header__cell {
  display: table-cell;
  // text-align: justify;
  padding: 1rem 0rem;
  border: none;
  border-bottom: 1px solid $light-grey;
  word-break: break-all;
  // width: 35%;
}
.table-header__cell__title {
  @extend .table-header__cell;
  width: 20%;
}
.table-header__cell_date_genre {
  @extend .table-header__cell;
  text-align: center;
  width: 10%;
}
.table-header__cell--checkbox {
  @extend .table-header__cell;
  width: 5%;
}
.table-header__cell--delete {
  @extend .table-header__cell;
  text-align: center;
  width: 10%;
  color: $pure-red;
}
.cell {
  @extend .table-header__cell;
}
.table-body__cell__title {
  @extend .table-header__cell;
  width: 20%;
}
.table-body__cell__title:hover {
  color: $pure-red;
}

.table-body__cell_date_genre {
  @extend .table-header__cell;
  text-align: center;
  width: 10%;
}
.table-body__cell--checkbox {
  @extend .cell;
  width: 5%;
}
.cell--delete {
  width: 10%;
  color: $pure-red;
  text-align: center;
}
.cell > input,  .table-header__cell--checkbox > input{
  margin-left: $xs-size;
}
.body-group {
  display: table-header-group;
  font-size: $xs-size;
  padding: 1rem 0rem;
  background: $pure-white;
}
.body-row {
  display:table-row;
  background-color: $pure-white;
}
.caption { 
  caption-side: bottom; 
  display: table-caption; 
  text-align: center; 
  background-color: $pure-white;
  padding: 1rem 0rem;
}