//set size
$xs-size: 1.6rem;
$sm-size: 3.2rem;
$md-size: 4.8rem;
$lg-size: 30rem;
$xl-size: 100.5rem;

//set color
$pure-white: #ffffff;

$pure-yellow: #f8e004;
$light-yellow: #fdf0bd;

$pure-red: #EE0000;

$pure-black: #000000;

$light-grey: #dbd8d8;
$pure-grey: #999999;
$dark-grey: #464040;
$darker-grey: #242121;

$pure-blue: #33bbff;
$light-blue: #66ccff;
$lighter-blue: #e6f7ff;
$darker-blue: #0357FB;

$pure-orange: #ff5c33;
$light-orange: #ff8566;
$lighter-orange: #ffd6cc;
